.home_container {
  width: 100%;
  height: 100vh;
  padding: 2.5rem 1rem;
  animation: fadeIn ease-in-out 200ms forwards;
}

/* home content */
.home_content {
  width: 100%;
  height: 100vh;
}

/* hi from twimcast div */

.greetigns {
  width: 90%;
  height: auto;
  background: linear-gradient(
    rgba(253, 252, 252, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
}

/* first div header */
.greetings_header {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0.1rem;
}

.greetings_header > h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 10;
  color: #494949;
}

/* carousel styling */

/* featured div styling */

.featured {
  width: 90%;
  height: 30%;
  background: linear-gradient(
    rgba(253, 252, 252, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.featured > h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 100;
  padding: 0.8rem;
  color: #494949;
}

/* styling trending div  starts */

.trending {
  width: 90%;
  /* height: 30%; */
  background: linear-gradient(
    rgba(253, 252, 252, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom: 2px solid #9d9283;
}
.trending > h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 200;
  padding: 0.8rem;
  background: #aaa3a31a;
  color: #494949;
}

.trending_contents {
  width: 100%;
}

.trending_contents .item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1.5fr 3.5fr 0.5fr;
  margin: 1rem 0;
  padding: 10px 2px;

  border-bottom: 1px solid rgb(219, 216, 216);
}

.item_content {
  padding: 0.5rem;
  box-sizing: border-box;
}
.item_content * {
  margin: 0;
  /* padding: 0.2rem; */
}
.item_content h4 {
  font-weight: 600;
  color: #494949;
  font-size: 15px;
}
.item_content p {
  font-size: 11px;
  color: #a9a9a9;
}

.item_content h6 {
  color: #9d9283;
}
.more {
  justify-self: center;
  align-self: flex-end;
}
.more img {
  padding-bottom: 1rem;
}
footer {
  width: 100%;
  text-align: end;
  padding: 0.5rem;
  color: #9d9283;
  font-weight: bold;
  margin: 0.5rem 0;
}

/* trending divs ends  */

/* latest divs start here */

.latest,
.banking {
  width: 90%;
  /* height: 30%; */
  background: linear-gradient(
    rgba(253, 252, 252, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom: 2px solid #9d9283;
  margin-top: 1.5rem;
}
.latest h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 200;
  padding: 0.8rem;
  background: #aaa3a31a;
  color: #494949;
}

.latest_contents {
  width: 100%;
}

.latest_contents .item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 3px;
  padding: 10px 2px;
  grid-template-columns: 1.5fr 3.5fr 0.5fr;
  margin: 1rem 0;
  border-bottom: 1px solid rgb(219, 216, 216);
}

.item_content {
  padding: 0.5rem;
  box-sizing: border-box;
}
.item_content * {
  margin: 0;
  /* padding: 0.2rem; */
}
.item_content h4 {
  font-weight: 600;
  color: #494949;
}
.item_content p {
  font-size: 12px;
  color: #a9a9a9;
}

.item_content h6 {
  color: #9d9283;
  font-size: 10px;
}
.more {
  justify-self: center;
  align-self: flex-end;
}
.more img {
  padding-bottom: 1rem;
}
footer {
  width: 100%;
  text-align: end;
  padding: 0.5rem;
  color: #9d9283;
  font-weight: bold;
  font-size: 12px;
}

/* latest divs ends here */

/* banking div styling starts here */

.banking h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 100;
  padding: 0.8rem;
  background: #aaa3a31a;
  color: #494949;
}

.banking_contents {
  width: 100%;
}

.banking_contents .item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 3px;
  padding: 10px 2px;

  grid-template-columns: 1.5fr 3.5fr 0.5fr;
  margin: 1rem 0;
  border-bottom: 1px solid rgb(219, 216, 216);
}

/* banking styling ends here */

/* featured reports styling starts */

.featured_reports {
  width: 90%;
  height: auto;
  margin: 1.5rem 0;
  border-bottom: 1px solid #9d9283;
}

.featured_reports h3 {
  margin: 0;
  padding: 0.8rem;
  font-weight: 200;
  color: #494949;
  font-size: 17px;
}

/* featured reports styling ends */

/* featured collection content styling starts*/

.featured_collection {
  width: 90%;
  border-bottom: 1px solid #9d9283;
}

/* featured collection content styling ends */

/* home footer starts*/
.footer {
  width: 100%;
  height: 80%;
  margin: 2rem 0;
}
.footer_content {
  width: 90%;
  height: 52%;
  background-image: url("./placeholder/background.svg");
  background-size: fit;
  background-repeat: no-repeat;
  /* text-align: center; */
  padding: 5px;
  border-radius: 5px;
  color: #6c6161;
}
.footer_content > * {
  position: relative;
  top: 24%;
}

/* home footer ends */
/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* experiment */

/* ------xxxxxxxxxxxxxx------------*/
